.img-expandable { /* Estilo para imágenes que se pueden expandir al hacer clic */
    cursor: pointer;
    transition: transform 0.3s ease;
}

.img-expandable:hover {
    transform: scale(1.1);
}

.modal-imagen { /* Modal que se oculta por defecto */
    display: none; 
    transition: opacity 0.3s ease; /* Añadir transición de opacidad */
    position: fixed; 
    z-index: 9999; 
    padding-top: 80px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
    align-items: center;
    justify-content: center;
}

.modal-contenido { /* Estilo para la imagen dentro del modal */
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.6);
    animation: zoom 0.3s ease-in-out;
}

@keyframes zoom { /* Animación de zoom para el modal */
    from {transform: scale(0.7); opacity:0;}
    to {transform: scale(1); opacity:1;}
}

.cerrar { /* Estilo para el botón de cerrar el modal */
    position: absolute;
    top: 20px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s;
}
.cerrar:hover {
    color: #ff4444;
}
